{% extends "base.html" %}
{% block page_css %}
<link href="/static/ccss/plugins/toastr/toastr.min.css" rel="stylesheet">
{% endblock %}
{% block page_content %}
<section class="content-header">
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-7"><h4>View aggregate statistics:</h4></div>
</div>
</section>
<section class="content">
</section>
{% endblock %}
{% block page_js%}
<script>
    $(document).ready(function() {
        InitializeTables();
    })
</script>
{% endblock %}